@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Titillium+Web&display=swap');

body {
  margin: 0 20%;
  margin-bottom: 10%;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Titillium Web', sans-serif;

}